<!DOCTYPE html>

<html>

<head>
    <title>Node.js express mongDB CRUD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-info">
    {{>navbar}}
    <div class="row">
        <div class="col-md-6 offset-md-3" style="background-color: #fff;margin-top: 25px;padding:20px;">
            <form action="/updatepool/{{urldata._id}}" method="POST" autocomplete="off">
                <input type="hidden" name="_id" value="{{urldata._id}}">
                <div class="form-group">
                    <label>PoolID</label>
                    <input type="text" class="form-control" name="PoolID" required placeholder="PoolID "
                        value="{{urldata.PoolID}}">
                </div>
                <div class="form-group">
                    <label>PoolName</label>
                    <input type="text" class="form-control" name="PoolName" required placeholder="PoolName"
                        value="{{urldata.PoolName}}">
                </div>     
                <div class="form-group">
                    <label>Hemper1</label>
                    <input type="file" class="form-control" name="Hemper1" required placeholder="Hemper1"
                        value="{{urldata.Hemper1}}">
                </div>        
                            
                <div class="form-group">
                    <label>Hemper1Worth</label>
                    <input type="text" class="form-control" name="Hemper1Worth" required placeholder="Hemper1Worth"
                        value="{{urldata.Hemper1Worth}}">
                </div>  
                 <div class="form-group">
                    <label>Hemper2</label>
                    <input type="file" class="form-control" name="Hemper2" required placeholder="Hemper2"
                        value="{{urldata.Hemper2}}">
                </div>                  
          
                <div class="form-group">
                    <label>Hemper2Worth</label>
                    <input type="text" class="form-control" name="Hemper2Worth" required placeholder="Hemper2Worth"
                        value="{{urldata.Hemper2Worth}}">

                 <div class="form-group">
                    <label>Hemper3</label>
                    <input type="file" class="form-control" name="Hemper3" required placeholder="Hemper3"
                        value="{{urldata.Hemper3}}">
                </div>        
               
           
                <div class="form-group">

                    <label>Hemper3Worth</label>
                    <input type="text" class="form-control" name="Hemper3Worth" required placeholder="Hemper3Worth"
                        value="{{urldata.Hemper3Worth}}">
                </div>
                <div class="form-group">
                    <label>CoinsNeededToParticipate</label>
                    <input type="text" class="form-control" name="CoinsNeededToParticipate" required
                        placeholder="CoinsNeededToParticipate" value="{{urldata.CoinsNeededToParticipate}}">
                </div>
                <div class="form-group">
                    <label>PoolStartDate</label>
                    <input type="text" class="form-control" name="PoolStartDate" required placeholder="PoolStartDate"
                        value="{{urldata.PoolStartDate}}">
                </div>

                <div class="form-group">
                    <label>PoolEndDate</label>
                    <input type="text" class="form-control" name="PoolEndDate" required placeholder="PoolEndDate"
                        value="{{urldata.PoolEndDate}}">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
                    <a class="btn btn-secondary" href="/getpool"><i class="fa fa-list-alt"></i> View All</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>